$categories: ( ionic: color($colors, primary), angular: #ac282b, communication: #8e8d93, tooling: #fe4c52, services: #fd8b2d, design: #fed035, workshop: #69bb7b, food: #3bc7c4, documentation: #b16be3, navigation: #6600cc);
@function auxiliary-categories() {
    @return map-remove($categories);
}

page-schedule {
    @each $track,
    $value in auxiliary-categories() {
        ion-item-sliding[track=#{$track}] ion-label {
            border-left: 2px solid $value;
            padding-left: 10px;
        }
    }
    .bar-button-default-ios,
    .bar-button-default.bar-button-ios-default,
    .bar-button-clear-ios-default {
        color: #fff;
    }
}